#!/usr/bin/env rc

if(~ $1 '-t'){
	trust='1'
	shift
}

if(~ $#* 0){
	echo 'mg [-t] FILES'
	exit 1
}

gen=`{gen $#*}

for(c in `{seq 1 $#*}){
	if(test -e $gen($c)) -a trust != '1'){
		echo 'error: not replacing '$gen($c)', exiting' >[2=1]
		exit 2
	}
	mv $*($c) $gen($c)
}

exit 0
