#!/usr/bin/env rc

if(! ~ $1 '')
	cd $1

searchdir=`{pwd}

for(item in `{find . -type l -print}){
	file=`{basename $item}
	dir=`{echo $item | sed 's/'$file'$//'}

	cd $dir

	targ=`{ls -l $file | awk '{ print $11 }'}

	if(test ! -e $targ)
		echo $item

	cd $searchdir
}
